<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <img id="icon" alt="User Icon" src="/assets/icon/logo.png" />
    <ion-card-header>
      <ion-card-title>Registierung</ion-card-title>
      <ion-card-subtitle>Welcome to DönerGuide!</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Bitte fülle alle Felder aus, um sich zu registrieren.
      <form id="input" [formGroup]="form">
        <ion-input
          formControlName="vorname"
          label="Vorname"
          labelPlacement="floating"
          placeholder="Dein Vorname"
          required="true"
        >
        </ion-input>
        <ion-input
          formControlName="nachname"
          labelPlacement="floating"
          label="Nachname"
          placeholder="Dein Nachname"
          required="true"
        >
        </ion-input>
        <ion-input
          formControlName="email"
          label="E-Mail"
          labelPlacement="floating"
          placeholder="Deine E-Mail Adresse"
          required="true"
        >
        </ion-input>
        <ion-input
          formControlName="password"
          label="Passwort"
          labelPlacement="floating"
          placeholder="Dein Passwort"
          type="password"
          helperText="Mindestlänge 8 Zeichen"
          minlength="8"
          required="true"
        >
        </ion-input>
        <ion-input
          formControlName="passwordConfirm"
          label="Passwort wiederholen"
          labelPlacement="floating"
          placeholder="Password bestätigen"
          type="password"
          minlength="8"
          required="true"
        >
        </ion-input>
        <ion-item id="nutzungsbedingungen">
          <ion-checkbox formControlName="terms" slot="" required="true">
            Nutzungsbedingungen
          </ion-checkbox>
        </ion-item>
      </form>
      <div slot="label" #errorMessage></div>
      <ion-button
        id="signup"
        [disabled]="checkRegisterButton()"
        (click)="register()"
        size="medium"
        form="input"
        type="submit"
      >
        Registrieren
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
