ion-card {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: auto;
    height: 90%;
    overflow-y: auto;
}

ion-card {
    text-align: center;
}

#icon {
    position: absolute;
    left: 5%;
    height: 7vmax;
    width: 7vmax;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
}

#input {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

ion-input {
    width: 100%;
    margin-bottom: 2.5%;
    text-align: left;
}

ion-item {
    width: 100%;
    margin-bottom: 2.5%;
    text-align: left;
}

ion-card-content {
    margin-top: 2%;
}