ion-content {
  top: 25%;
  transform: translate(0, -10%);
}

.login {
  text-align: center;
  justify-content: center;
  display: grid;
}

.login > ul {
  max-width: 400px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.titles {
  * {
    margin: 0;
  }
  h4 {
    color: var(--ion-color-medium);
  }
}

#nutzungsbedingungen {
  margin: 10px 0;
}

ion-checkbox {
  width: 100%;
}

#icon {
  width: 8vmax;
  padding: auto;
}

#input {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  width: 100%;
  max-width: 600px;
}

ion-input {
  width: 100%;
  margin-bottom: 2.5%;
  text-align: left;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
