<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
      <ion-card-subtitle>Welcome to DönerGuide!</ion-card-subtitle>
      <img id="icon" alt="User Icon" src="/assets/icon/logo.png" />
    </ion-card-header>

    <ion-card-content>
      Bitte gib deine Daten ein, registriere dich oder fahre als Gast fort.
      <form id="input" [formGroup]="form">
        <ion-input
          formControlName="email"
          label="E-Mail"
          labelPlacement="floating"
          placeholder="Deine E-Mail Adresse"
        >
        </ion-input>
        <ion-input
          formControlName="password"
          label="Passwort"
          labelPlacement="floating"
          placeholder="Dein Passwort"
          type="password"
        >
        </ion-input>
      </form>
      <div slot="label" #errorMessage></div>
      <div id="buttons">
        <ion-button
          id="login"
          type="submit"
          form="input"
          [disabled]="checkLoginButton()"
          (click)="handleLogin()"
        >
          Login
        </ion-button>
        <ion-button [routerLink]="['/signup']"> Registrieren </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
