<ion-header>
  <ion-toolbar>
    <img src="assets/logo_header.png" alt="DönerGuide Logo" class="ion-hide-md-up" />
    <ion-grid class="ion-hide-md-down">
      <ion-row>
        <ion-col size="3">
          <img src="assets/logo_header.png" alt="DönerGuide Logo" />
        </ion-col>
        <ion-col size="4">
          <ion-searchbar
            placeholder="Suche nach Dönerläden"
            show-clear-button="focus"
            [debounce]="500"
            (ionInput)="filterShops($event)"
          ></ion-searchbar>
        </ion-col>
        <ion-col size="1">
          <ion-button (click)="doRefresh(undefined, refButton)" #refreshButton>
            <ion-icon name="refresh"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-range
            min="0"
            max="50"
            step="1"
            snaps="true"
            color="primary"
            pin="true"
            [value]="radius"
            [pinFormatter]="pinFormatter"
            (ionChange)="change_radius($event)"
          >
            <ion-icon size="small" slot="start" name="pin-outline"></ion-icon>
            <ion-icon slot="end" name="pin-outline"></ion-icon>
          </ion-range>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <div class="ion-hide-md-up searchBar">
    <ion-searchbar
      placeholder="Suche nach Dönerläden"
      show-clear-button="focus"
      [debounce]="500"
      animated="true"
      (ionInput)="filterShops($event)"
    ></ion-searchbar>
    <div class="flags">
      <ion-chip *ngFor="let flag of flags" (click)="handleFlag(flag)" color="primary"> {{flag.value}} </ion-chip>
      <ion-chip *ngFor="let flag of flagList | filter : fitlerFlags : flags" (click)="handleFlag(flag)">
        {{flag.value}}
      </ion-chip>
    </div>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher
    slot="fixed"
    [pullMin]="80"
    [pullMax]="200"
    [pullFactor]="0.5"
    (ionRefresh)="doRefresh($event)"
    class="ion-hide-md-up"
  >
    <ion-refresher-content
      pullingText="Zum Aktualisieren ziehen"
      refreshingText="Lade neue Dönerläden in deiner Nähe..."
    ></ion-refresher-content>
  </ion-refresher>
  <div class="ion-hide-md-up">
    <ion-range
      min="0"
      max="50"
      step="1"
      snaps="true"
      color="primary"
      pin="true"
      [value]="radius"
      [pinFormatter]="pinFormatter"
      (ionChange)="change_radius($event)"
      class="range"
    >
      <ion-icon size="small" slot="start" name="pin-outline"></ion-icon>
      <ion-icon slot="end" name="pin-outline"></ion-icon>
    </ion-range>
  </div>
  <div class="flags md ion-hide-md-down">
    <ion-chip *ngFor="let flag of flags" (click)="handleFlag(flag)" color="primary"> {{flag.value}} </ion-chip>
    <ion-chip *ngFor="let flag of flagList | filter : fitlerFlags : flags" (click)="handleFlag(flag)">
      {{flag.value}}
    </ion-chip>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let shop of shownShops">
        <ion-card>
          <img src="{{ shop.imageUrl }}" alt="{{ shop.name }}" />
          <ion-card-header class="title">
            <div>
              <ion-card-subtitle>{{shop.address}}</ion-card-subtitle>
              <ion-card-title>
                {{shop.name}}
                <app-rating [rating]="shop.rating"> </app-rating>
              </ion-card-title>
            </div>
            <ion-icon
              [name]="userSrv.getFavoriteIds().includes(shop.id) ? 'heart' : 'heart-outline'"
              class="size"
              [color]="userSrv.getFavoriteIds().includes(shop.id) ? 'danger' : 'medium'"
              (click)="userSrv.toggleFavorite(shop)"
            ></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item lines="none">
                <ion-icon slot="start" name="pricetag-outline"></ion-icon>
                <app-price [priceCategory]="shop.priceCategory"></app-price>
              </ion-item>
              <ion-item lines="none">
                <ion-icon
                  slot="start"
                  name="time-outline"
                  [color]="shopFunctions.checkOpeningColor(shop.openToday).status"
                ></ion-icon>
                <ng-container *ngFor="let openingHour of shop.openToday">
                  {{ openingHour.open === '00:00' && openingHour.close === '00:00' ? 'Heute geschlossen' :
                  openingHour.open + ' - ' + openingHour.close }}<br />
                </ng-container>
              </ion-item>
              <ion-item lines="none" *ngIf="shopFunctions.enabledFlags(shop.flags).length > 0">
                <ion-icon slot="start" name="checkmark-outline" color="open"></ion-icon>
                {{ shopFunctions.enabledFlags(shop.flags).slice(0, 3).join(", ") }}{{
                shopFunctions.enabledFlags(shop.flags).length > 3 ? ', ...' : '' }}
              </ion-item>
              <ion-item lines="none" *ngIf="shopFunctions.disabledFlags(shop.flags).length > 0">
                <ion-icon slot="start" name="close-outline" color="danger"></ion-icon>
                {{ shopFunctions.disabledFlags(shop.flags).slice(0, 3).join(", ") }}{{
                shopFunctions.disabledFlags(shop.flags).length > 3 ? ', ...' : '' }}
              </ion-item>
            </ion-list>
          </ion-card-content>

          <div class="buttons">
            <ion-button
              fill="clear"
              [routerLink]="['/shop', {shop: shop | json, refferer: '/'}]"
              routerDirection="forward"
            >
              Mehr Infos >
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
