<ion-header>
  <ion-toolbar>
    <ion-title> DönerGuide </ion-title>
    <!-- input slider -->
    <ion-item>
      <ion-label>Entfernung</ion-label>
      <ion-range
        min="0"
        max="100"
        step="0.5"
        snaps="true"
        color="primary"
        pin="true"
        [value]="radius"
        [pinFormatter]="pinFormatter"
        (ionChange)="change_radius($event)"
      >
        <ion-icon size="small" slot="start" name="pricetag-outline"></ion-icon>
        <ion-icon slot="end" name="pricetag-outline"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img src="assets/logo_header.png" alt="DönerGuide Logo" />
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-sm="6"
        size-md="4"
        size-lg="3"
        *ngFor="let shop of shownShops"
      >
        <ion-card>
          <img src="{{ shop.imageUrl }}" alt="{{ shop.name }}" />
          <ion-card-header class="title">
            <div>
              <ion-card-subtitle>{{shop.address}}</ion-card-subtitle>
              <ion-card-title>
                {{shop.name}}
                <app-rating [rating]="shop.rating"> </app-rating>
              </ion-card-title>
            </div>
            <ion-icon
              [name]="userSrv.getFavoriteIds().includes(shop.id) ? 'heart' : 'heart-outline'"
              class="size"
              [color]="userSrv.getFavoriteIds().includes(shop.id) ? 'danger' : 'medium'"
              (click)="userSrv.toggleFavorite(shop)"
            ></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item lines="none">
                <ion-icon slot="start" name="pricetag-outline"></ion-icon>
                <app-price [priceCategory]="shop.priceCategory"> </app-price>
              </ion-item>
              <ion-item lines="none">
                <ion-icon
                  slot="start"
                  name="time-outline"
                  [color]="shopFunctions.checkOpeningColor(shop)"
                ></ion-icon>
                {{shop.openingHours.opens}} - {{shop.openingHours.closes}}
              </ion-item>
              <ion-item
                lines="none"
                *ngIf="shopFunctions.enabledFlags(shop.flags).length > 0"
              >
                <ion-icon
                  slot="start"
                  name="checkmark-outline"
                  color="open"
                ></ion-icon>
                {{shopFunctions.enabledFlags(shop.flags).join(", ")}}
              </ion-item>
              <ion-item
                lines="none"
                *ngIf="shopFunctions.disabledFlags(shop.flags).length > 0"
              >
                <ion-icon
                  slot="start"
                  name="close-outline"
                  color="danger"
                ></ion-icon>
                {{shopFunctions.disabledFlags(shop.flags).join(", ")}}
              </ion-item>
            </ion-list>
          </ion-card-content>

          <div class="buttons">
            <ion-button
              fill="clear"
              [routerLink]="['/shop', {shop: shop | json, refferer: '/'}]"
              routerDirection="forward"
            >
              Mehr Infos >
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
