<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Zurück"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="informationGrid">
    <div class="title">
      <p>{{shop?.name}}</p>
      <ion-icon
        [name]="userSrv.getFavoriteIds().includes(shop!.id) ? 'heart' : 'heart-outline'"
        class="size"
        [color]="userSrv.getFavoriteIds().includes(shop!.id) ? 'danger' : 'medium'"
        (click)="userSrv.toggleFavorite(shop!)"
        *ngIf="userSrv.isLoggedIn()"
      ></ion-icon>
    </div>
    <img [src]="shop?.imageUrl" alt="Shop" />
    <ion-list>
      <ion-item lines="none">
        <ion-icon slot="start" name="pricetag-outline"></ion-icon>
        <app-price [priceCategory]="shop?.priceCategory ?? 0"> </app-price>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" name="time-outline" [color]="shopFunctions.checkOpeningColor(shop?.openToday).status"></ion-icon>
        <div class="openingHours">
          <ng-container *ngFor="let day of Object.keys(shop!.openingHours)">
            <ng-container *ngIf="shop!.openingHours[day].length > 0">
              <div class="item-time">
                <ion-label>{{day}}</ion-label>
                <div class="times">
                  <ng-container *ngFor="let time of shop!.openingHours[day]">
                    <ion-label>{{time.open}} - {{time.close}}</ion-label>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </ion-item>
      <ion-item lines="none" *ngIf="shopFunctions.enabledFlags(shop?.flags).length > 0">
        <ion-icon slot="start" name="checkmark-outline" color="open"></ion-icon>
        {{shopFunctions.enabledFlags(shop?.flags).join(", ")}}
      </ion-item>
      <ion-item lines="none" *ngIf="shopFunctions.disabledFlags(shop?.flags).length > 0">
        <ion-icon slot="start" name="close-outline" color="danger"></ion-icon>
        {{shopFunctions.disabledFlags(shop?.flags).join(", ")}}
      </ion-item>
    </ion-list>
    <hr />
    <ion-button expand="block" [href]="shop?.mapsUrl" target="_blank" color="secondary" id="maps">
      <ion-icon slot="start" name="map-outline"></ion-icon>
      Google Maps
    </ion-button>
    <ion-button expand="block" [href]="'tel:' + shop?.tel">
      <ion-icon slot="start" name="call-outline"></ion-icon>
      Anrufen
    </ion-button>
  </div>
</ion-content>
