<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="title">
        <p>{{shop?.name}}</p>
        <ion-icon name="heart-outline" class="size"></ion-icon>
      </div>
    </ion-toolbar>
    <img [src]="shop?.imageUrl" alt="Shop" />
  </ion-header>
  <div class="informationGrid">
    <ion-list>
      <ion-item lines="none">
        <ion-icon slot="start" name="pricetag-outline"></ion-icon>
        <app-price [priceCategory]="shop?.priceCategory ?? 0"> </app-price>
      </ion-item>
      <ion-item lines="none">
        <ion-icon
          slot="start"
          name="time-outline"
          [color]="shopFunctions.checkOpeningColor(shop!)"
        ></ion-icon>
        {{shop?.openingHours?.opens}} - {{shop?.openingHours?.closes}}
      </ion-item>
      <ion-item
        lines="none"
        *ngIf="shopFunctions.enabledFlags(shop!.flags).length > 0"
      >
        <ion-icon slot="start" name="checkmark-outline" color="open"></ion-icon>
        {{shopFunctions.enabledFlags(shop!.flags).join(", ")}}
      </ion-item>
      <ion-item
        lines="none"
        *ngIf="shopFunctions.disabledFlags(shop!.flags).length > 0"
      >
        <ion-icon slot="start" name="close-outline" color="danger"></ion-icon>
        {{shopFunctions.disabledFlags(shop!.flags).join(", ")}}
      </ion-item>
    </ion-list>
    <hr />
    <!-- <ion-button expand="block" [href]="shop!.mapsUrl">
      <ion-icon slot="start" name="map-outline"></ion-icon>
      Google Maps
    </ion-button> -->
    <ion-button expand="block" [href]="'tel:' + shop!.tel">
      <ion-icon slot="start" name="call-outline"></ion-icon>
      Anrufen
    </ion-button>
  </div>
</ion-content>
